.title{
    text-align: center;
    .base{
        color: #635BFF;
        font-family: "Playwrite US Modern", serif;
    }
    h1{
        font-family: "Manrope", serif;
        font-weight: 800;
        margin: 0;
        // color: #fff;
        span{
            color: #635BFF;
        }
    }
}