<div class="header">
    <div class="container py-3">
        <div class="logo">
            <img src="../../../assets/images/logos/logo.png" alt="">
        </div>
        <div class="btns">
            <button mat-stroked-button [routerLink]="['/authentication/login']">
                <i class="fas fa-right-to-bracket"></i> <span>Login</span>
            </button>
            <button mat-flat-button [routerLink]="['/authentication/register']" class="reg-btn">
                <i class="fas fa-user-plus"></i> <span>Register</span>
            </button>
            <button mat-flat-button  class="reg-btn">
                <i class="fas fa-user-plus"></i> <span>Welcome, Username</span>
            </button>
        </div>
    </div>
</div>