#fabricCanvas {
    border: 2px solid #ccc;
    display: block;
    margin: 0 auto;
}

.controls {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    label {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        margin-right: 10px;
    }
}
.icon-box{
    border: 1px dashed #635BFF;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    transition: .3s;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 0px 5px #635BFF;
        transition: .3s;
    }
}
#panels{
    .panel{
        display: none;
        &.show{
            display: block;
        }
    }
    .file-option{
        border: 1px dashed #635BFF;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        transition: .3s;
        &:hover{
            box-shadow: 0px 0px 5px #635BFF;
            transition: .3s;
        }
        label{
            text-align: center;
            width: 100%;
            cursor: pointer;
            
        }
        input{
            display: none;
        }
    }
    #media{
        margin-bottom: 10px;
        div{
            &.col-lg-6{
                aspect-ratio: 1/1;
                // width: 100%;
                video{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}