<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 bg-dark">
            <h1 class="text-center text-light mb-3">Editor options</h1>

            <div id="main-panel" class="row text-light">
                <div class="col-lg-6">
                    <div (click)="showPanel('media')" class="icon-box text-center">
                        <h1>
                            <i class="text-primary fas fa-images"></i>
                        </h1>
                        <p>Add Media</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div (click)="showPanel('text')" id="add-text" class="icon-box text-center">
                        <h1>
                            <i class="text-primary fas fa-font"></i>
                        </h1>
                        <p>Add Text</p>
                    </div>
                </div>
                <div (click)="showPanel('shape')" class="col-lg-6">
                    <div class="icon-box text-center">
                        <h1>
                            <i class="text-primary fas fa-shapes"></i>
                        </h1>
                        <p>Add Shapes</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div (click)="showPanel('icon')" class="icon-box text-center">
                        <h1>
                            <i class="text-primary fas fa-icons"></i>
                        </h1>
                        <p>Add Icons</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div style="width:fit-content;margin:auto">
                        <button mat-flat-button color="primary" class="m-r-8">
                            <i class="fas fa-paper-plane"></i> Send
                        </button>
                    </div>
                </div>
            </div>

            <div id="panels">
                <div class="panel media">
                    <h4 class="text-light text-center">Media</h4>
                    <div class="file-option">
                        <label for="add-media" class="text-light">
                            <h1><i class="fas fa-file-image text-primary"></i></h1>
                            <p class="text-center">Upload Files</p>
                        </label>
                        <input type="file" id="add-media" (change)="uploadFile($event)" accept="image/*,video/*" />
                    </div>

                    <div class="row" id="media"></div>

                    <div style="width:fit-content;margin:auto">
                        <button (click)="closePanel()" mat-flat-button color="primary" class="m-r-8">
                            <i class="fas fa-angle-left"></i> Back
                        </button>
                    </div>
                </div>

                <div  class="panel text text-light">
                    <h1 class="text-light">Text</h1>

                    <div class="row">
                        <div class="col-lg-12">
                            <mat-label class="f-w-600 m-b-8 d-block text-light">Font Family</mat-label>
                                <mat-form-field appearance="fill" class="w-100 text-light">
                                <mat-select [(value)]="selectedFont">
                                    @for(option of country; track option.value) {
                                    <mat-option [value]="option.value">{{
                                        option.viewValue
                                    }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div style="width:fit-content;margin:auto">
                        <button (click)="closePanel()" mat-flat-button color="primary" class="m-r-8">
                            <i class="fas fa-angle-left"></i> Back
                        </button>
                    </div>
                </div>

                <div class="panel shape text-light">
                    <h1 class="text-light">Shape</h1>

                    <div style="width:fit-content;margin:auto">
                        <button (click)="closePanel()" mat-flat-button color="primary" class="m-r-8">
                            <i class="fas fa-angle-left"></i> Back
                        </button>
                    </div>
                </div>
                
                <div class="panel icon text-light">
                    <h1 class="text-light">Icon</h1>

                    <div style="width:fit-content;margin:auto">
                        <button (click)="closePanel()" mat-flat-button color="primary" class="m-r-8">
                            <i class="fas fa-angle-left"></i> Back
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-lg-8">
            <div id="action-btns">
                <button mat-flat-button (click)="saveState()" color="primary">Save</button>
            </div>
            <div id="canvas-box">
                <canvas id="fabricCanvas" height="600" style="border: 1px solid #000;"></canvas>
                <button id="del-item">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>
    </div>
 </div>